
.card-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    gap: .5rem;
}

.card {
    display: flex;
    align-self: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: calc(33.3% - 20px);
    font-size: 16px;
    background-color: var(--content-bg);
    border-radius: 12px;
    border: 1px solid var(--theme-bg-color);
    padding: 20px;
    transition: 0.1s ease;
    min-width: 188px;
}

.card:hover {
    transform: scale(1.02);
    background-color: var(--theme-bg-color);
}

.card svg {
    width: 28px;
    border-radius: 6px;
    margin-right: 12px;
    flex-shrink: 0;
}

.card + .card {
    margin-left: 20px;
}

.card span {
    display: flex;
    align-items: center;
}

.card__subtext {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6em;
    margin-top: 20px;
    padding-bottom: 20px;
}

.card-buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 16px;
}
  