.toast-container {
    display: flex;
    flex-direction: column;
    gap:  3px;
    position: fixed;
    margin: 12px;
    max-width: 300px;
    min-width: 250px;
    z-index: 10000;
    background-color: transparent;
    scroll-behavior: smooth;
    overscroll-behavior: none;
    overflow: auto;
}
.toast-container::-webkit-scrollbar {
    display: none;
}
.toast-container[data-position^="top-"]  {
    top: 0;
}
.toast-container[data-position^="bottom-"]  {
    bottom: 0;
}
.toast-container[data-position$="-right"]  {
    right: 0;
}
.toast-container[data-position$="-left"]  {
    left: 0;
}
.toast-container[data-position$="-center"]  {
    left: 50%;
    transform: translateX(-50%);
}

.toast {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0.75rem;
    color: var(--theme-color);
    background-color: var(--popup-bg);
    border: 1px solid var(--border-color);
    border-radius: .25em;
    position: relative;
    transition: transform 300ms ease-in-out;
    height: 78px;
    max-height: 78px;
}
.toast-container[data-position$="-right"] .toast {
    transform: translateX(110%);
}
.toast-container[data-position$="-left"] .toast  {
    transform: translateX(-110%);
}
.toast-container[data-position="top-center"] .toast  {
    transform: translateY(-100vh);
}
.toast-container[data-position="bottom-center"] .toast  {
    transform: translateY(100vh);
}
.toast_x {
    display: none;
    position: absolute;
    top: 2px;
    right: 5px;
    color: var(--theme-color);
    background-color: var(--popup-bg);
    cursor: pointer;
}
.toast-container .toast.show  {
    transform: translate(0, 0);
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
}
.toast-container .toast.hide  {
    -webkit-animation: fadeout 0.5s;
    animation: fadeout 0.5s;
}
.toast-title {
    color: var(--content-title-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8em;
}
.toast-content {
    display: flex;
    flex-direction: row;
}
.toast-text {
    color: var(--content-title-color);
    font-size: 12px;
}
@-webkit-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@-webkit-keyframes fadeout {
    from {
        opacity: 1;
        height: 78px;
        transform: translateY(0px);
    }
    to { 
        opacity: 0;
        height: 0;
        transform: translateY(-80px);
    }
}
  
@keyframes fadeout {
    from {
        opacity: 1;
        height: 78px;
        transform: translateY(0px);
    }
    to {
        opacity: 0;
        height: 0;
        transform: translateY(-80px);
    }
}