
.toc-bar-left {
    padding: 26px 20px;
    width: 188px;
    height: 100%;
    overflow: none;
    user-select: none;
    White-space: nowrap;
    transition: 0.1s;
}
.toc-bar-left-hide {
    position: absolute;
    left: -145px;
}

.bible-content-area {
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    height: 100vh;
}
.bible-verse-content-wrapper {
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: auto;
    width: 100%;
    height: 100vh;
    margin-right: 12px;
}
.bible-verse-content {
    position: relative;
    overflow: auto;
    width: 100%;
    max-width: 777px;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: y mandatory;
    scroll-snap-align: center;
    scroll-behavior: smooth;
    user-select: none;
    touch-action: pan-y;
    background-color: var(--content-text-bg);
    color: var(--theme-text-color);
    padding: 25px;
    border-radius: 12px;
}

.toc-wrapper {
    position: relative;
    overflow: auto;
    border-radius: 12px;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    height: 128px;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: y mandatory;
    scroll-snap-align: center;
    scroll-behavior: smooth;
    user-select: none;
    touch-action: pan-y;
}
.toc-wrapper::-webkit-scrollbar {
    display: none;
}

.toc-title-left {
    text-align: center;
    color: var(--inactive-color);
    margin-bottom: 14px;
    justify-self: center;
    align-items: center;
    height: 30px;
}

.toc-menu span {
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--inactive-color);
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 14px;
    border-radius: 8px;
    transition: 0.1s;
}

.toc-menu span:hover {
    transform: scale(1.02);
    background-color: var(--hover-menu-bg);
    color: var(--theme-color);
}

.toc-menu-selected {
    border-left: 1px solid red;
    border-right: 1px solid red;
    font-weight: 700;
}

.chapter-menu-selected {
    border-left: 1px solid red;
    border-right: 1px solid red;
    font-weight: 700;
}

.toc-menu svg {
    width: 16px;
    margin-right: 8px;
}
