
.toc-bar-left {
    padding-top: 25px;
    width: 188px;
    height: 100vh;
    overflow: none;
    user-select: none;
    -webkit-user-select : none;
    White-space: nowrap;
    left: 0px;
}
.toc-bar-left-hide {
    position: absolute;
    left: -185px;
}
.bible-content {
    padding: 0px 0px 115px 0px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: calc(100%-240px);
    height: 100%;
    background-color: var(--content-text-bg);
    transition: 0.1s;
}
.bible-verse-content-wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: flex-start;
    align-items: left;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin-right: 12px;
    transition: 0.1s;
}
.bible-verse-content {
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: auto;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    color: var(--theme-text-color);
    padding: 24px 0px;
    transition: 0s;
    column-count:2;
    column-width: 300px;
    column-fill: auto;
    column-gap: 48px;
    /* font-family: "Graphik"; */
}

.toc-wrapper {
    position: relative;
    overflow: auto;
    border-radius: 12px;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    height: 128px;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: y mandatory;
    scroll-snap-align: center;
    scroll-behavior: smooth;
    -webkit-user-select : none;
    user-select: none;
    touch-action: pan-y;
}
.toc-wrapper::-webkit-scrollbar {
    display: none;
}

.toc-title-left {
    text-align: center;
    color: var(--inactive-color);
    margin-bottom: 14px;
    justify-self: center;
    align-items: center;
    height: 30px;
}

.toc-menu span {
    -webkit-user-select : none;
    user-select: none;
    cursor: pointer;
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--inactive-color);
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 14px;
    border-radius: 8px;
    transition: 0.06s;
    
}

.toc-menu span:hover {
    transform: scale(1.02);
    background-color: var(--hover-menu-bg);
    color: var(--theme-color);
    transition: 0.06s;
}

.toc-menu-selected {
    border-left: 1px solid red;
    border-right: 1px solid red;
    font-weight: 700;
    transition: 0.06s;
    user-select: none;
    -webkit-user-select : none;
    cursor: pointer;
}

.toc-menu svg {
    width: 16px;
    margin-right: 8px;
}

.verse-content-nav-button {
    display: none;
    width: 32px;
    height: 78px;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    -webkit-user-select : none;
    user-select: none;
    border: 1px solid rgba(255, 0, 0, 0.103);
    border-radius: 12px;
    background-color: var(--hover-menu-bg);
}
.nav-button-show {
    display: flex;
}
.nav-button-show:hover {
    color: var(--highlight-color);
    background-color: var(--hover-menu-bg);
}

.verse-content-nav-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    White-space: nowrap;
    height: 100%; 
    width: 48px;
    background-color: var(--content-text-bg);
}
.text-size-button {
    cursor: pointer; 
    color: var(--button-inactive);
    border: 0px solid var(--button-inactive); 
    border-radius: 3px;
    width: 36px;
    background-color:var(--hover-menu-bg);
    padding: 3px;
}
.text-size-button:hover {
    color: var(--highlight-color);
    background-color: var(--hover-menu-bg);
}