
.chat-wrapper {
    position: relative;
    left: 0px; 
    top:  0px;
    width: 100%;
    border: 0px solid;
    color: var(--theme-color);
    height: 100vh;
}
.chat-content {
    position: relative;
    top: 0px;
    justify-content: flex-start; 
    width: calc(100vw-480);
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 100vh;
    z-index: 1;
}
.chat-footer {
    position: fixed;
    display: flex;
    justify-self: flex-end;
    border-radius: 12px;
    border: 0px solid var(--border-color);
    height: 48px;
    padding: 0px 20px;
    align-items: center;
    background-color: var(--theme-bg-color);
    bottom: 25px;
    left: 0;
    right: 0;
    width: calc(100vw-480);
    margin-left: 255px;
    margin-right: 255px;
    z-index: 100;
}
  
.chat-footer svg {
    color: var(--theme-color);
    width: 20px;
    margin-left: 4px;
    margin-right: 4px;
    flex-shrink: 0;
    cursor: pointer;
}

.chat-footer svg:hover {
    color: var(--highlight-color);
}

.chat-footer svg + svg {
    margin-left: 12px;
}
  
.chat-footer input {
    border: none;
    color: var(--body-color);
    background-color: var(--input-bg);
    padding: 12px;
    border-radius: 6px;
    font-size: 15px;
    margin: 0 12px;
    width: 100%;
}

.chat-footer input::placeholder {
    color: var(--input-chat-color);
}

  
  
  