
@media screen and (max-width: 1580px) {
    .card {
      width: calc(50% - 20px);
    }
    .card:last-child {
      margin-top: 20px;
      margin-left: 0px;
    }
    .chat-footer {
      width: calc(100vw-270);
    }
}
  
@media screen and (max-width: 1055px) {
    .notify {
      display: none;
    }
    .main-header .header-menu {
      margin: auto;
    }
    .menu-link {
      display: none;
    }
}
  
@media screen and (max-width: 945px) {
    .side-bar-left {
      display: none;
    }
    .chat-footer {
      width: calc(100vw-30);
    }
    .menu-left {
      display: none;
    }
    .notification + svg {
      display: none;
    }
}
  
@media screen and (max-width: 540px) {
    .menu-gap-shrink {
      width: 100%;
    }
    .navbar-menu-left {
      display: inherit;
    }
    .header-menu a:not(.main-header-link) {
      display: none;
    }
    .status {
      display: none;
    }
    .card {
      width: 100%;
      margin-top: 20px;
    }
    .card + .card {
      margin-left: 0;
    }
    .status-button {
      padding: 6px 14px;
    }
    .button-wrapper {
      width: auto;
    }
    .products {
      width: 120px;
    }
    .header {
      display: none;
    }
    .adobe-product .menu {
      display: none;
    }
    .main-container {
      border-radius: 0px;
    }
    .optinal-button {
      display: none;
    }
    .tab-bar {
      display: flex;
    }
    .content-wrapper-img {
      width: 110px;
    }
    .pop-up {
      width: 100%;
    }
    .content-wrapper-header {
      padding: 15px;
    }
    .content-wrapper {
      padding: 15px;
      -ms-overflow-style: none;  
      scrollbar-width: none;  
    }
    .content-wrapper::-webkit-scrollbar {
      display: none;
    }
    .chat-content::-webkit-scrollbar {
      display: none;
    }
    .side-bar-contact {
      display: none;
    }
}
  
@media screen and (max-width: 420px) {
    .content-wrapper-header {
      padding: 10px;
    }
    .content-wrapper {
      padding: 10px;
    }
}